<div class="module">
  <a routerLink="community">Community</a>
  <a routerLink="#">Activities</a>
  <a routerLink="#">Artists</a>
  <a routerLink="#">Childcare</a>
  <a routerLink="#">Classes</a>
  <a routerLink="#">Events</a>
  <a routerLink="#">General</a>
  <a routerLink="#">Groups</a>
  <a routerLink="#">Local News</a>
  <a routerLink="#">Lost + Found</a>
  <a routerLink="#">Pets</a>
</div>
<div class="module">
  <a routerLink="personals">Personals</a>
  <a routerLink="#">Strictly Platonic</a>
  <a routerLink="#">Women seeking Women</a>
  <a routerLink="#">Women seeking Men</a>
  <a routerLink="#">Men seeking Women</a>
  <a routerLink="#">Men seeking Men</a>
  <a routerLink="#">Misc Romance</a>
  <a routerLink="#">Casual Encounters</a>
  <a routerLink="#">Missed Connections</a>
  <a routerLink="#">Rants and Raves</a>
</div>
<div class="module">
  <a routerLink="housing">Housing</a>
  <a routerLink="#">Apts / Housing</a>
  <a routerLink="#">Housing Swap</a>
  <a routerLink="#">Housing Wanted</a>
  <a routerLink="#">Office / Commercial</a>
  <a routerLink="#">Parking / Storage</a>
  <a routerLink="#">Real Estate for Sale</a>
  <a routerLink="#">Rooms / Shared</a>
  <a routerLink="#">Rooms Wanted</a>
  <a routerLink="#">Sublets / Temporary</a>
  <a routerLink="#">Vacation Rentals</a>
</div>
<a routerLink="newpost">New Post</a>
